@import url('https://fonts.googleapis.com/css?family=Dosis|PT+Sans+Narrow|Playfair+Display|Quicksand&display=swap');

//-----------------------------------page-level---------------------------------------//

* {
  box-sizing: border-box;
}

#root {
  font-family: 'Playfair Display', serif;
}

html, body {
  scroll-behavior: smooth;
}

//icons-------------/

i {
  color: black;
}

//-----------------------------------NAV----------------------------------------------//


div.navbar-end {
  width: 100%;
}

div.navbar-item {
  display: inline;
  text-align: center;
}

div.navbar-custom a {
  display: inline-block;
  width: 25%;
  color: black;
  text-decoration: none;
  text-align: center;
}

div.navbar-custom a:hover {
  color: #e8c020;
}

.two:hover ~ hr {
  margin-left: 25%;
}

.three:hover ~ hr {
  margin-left: 52%;
}

.four:hover ~ hr {
  margin-left: 75%;
}

hr {
  height: .25rem;
  width: 25%;
  margin: 0;
  background: #e8c020;
  border: none;
  transition: .3s ease-in-out;
}

a:hover {
  color: #e8c020;
  // text-decoration: underline;
  // transition: 0.5s ease-in-out;
}

//-----------------------------------SVGs----------------------------------------------//


//--------------main-logo-------------//


svg.main-logo {
  position: absolute;
  path {
    fill: black;
    stroke: black;
    stroke-width: 3;
  }
}

.image.is-square {
  padding-top: 0;
}

//--------------profile-letters-------------//

<<<<<<< HEAD
// svg.test-svg {
//   g{
//     stroke: black;
//     path {
//       stroke: white;
//       stroke-width: 2;
//       stroke-dasharray: 20;
//     }
//   }
// }
=======
#profile-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  path:nth-child(1){
    stroke-dasharray: 523.50px;
    stroke-dashoffset: 523.50px;
  }
  path:nth-child(2){
    stroke-dasharray: 350.02;
    stroke-dashoffset: 350.02;
  }
  path:nth-child(3){
    stroke-dasharray: 412.46;
    stroke-dashoffset: 412.46;
  }
  path:nth-child(4){
    stroke-dasharray: 685.05;
    stroke-dashoffset: 685.05;
  }
  path:nth-child(5){
    stroke-dasharray: 304.72;
    stroke-dashoffset: 304.72;
  }
  path:nth-child(6){
    stroke-dasharray: 424.01;
    stroke-dashoffset: 424.01;
  }
}
>>>>>>> dev

.draw-logo {
  animation: fill 0.5s ease forwards 2.5s;

  path:nth-child(1){
    animation: draw 2s ease forwards;
  }
  path:nth-child(2){
    animation: draw 2s ease forwards 0.3s;
  }
  path:nth-child(3){
    animation: draw 2s ease forwards 0.6s;
  }
  path:nth-child(4){
    animation: draw 2s ease forwards 0.9s;
  }
  path:nth-child(5){
    animation: draw 2s ease forwards 1.2s;
  }
  path:nth-child(6){
    animation: draw 2s ease forwards 1.5s;
  }

}

//--------------project-letters-------------//

#project-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  path:nth-child(1){
    stroke-dasharray: 523.50px;
    stroke-dashoffset: 523.50px;
  }
  path:nth-child(2){
    stroke-dasharray: 350.02;
    stroke-dashoffset: 350.02;
  }
  path:nth-child(3){
    stroke-dasharray: 412.46;
    stroke-dashoffset: 412.46;
  }
  path:nth-child(4){
    stroke-dasharray: 318.36;
    stroke-dashoffset: 318.36;
  }
  path:nth-child(5){
    stroke-dasharray: 424.01;
    stroke-dashoffset: 424.01;
  }
  path:nth-child(6){
    stroke-dasharray: 351.59;
    stroke-dashoffset: 351.59;
  }
  path:nth-child(7){
    stroke-dasharray: 348.07;
    stroke-dashoffset: 348.07;
  }
  path:nth-child(8){
    stroke-dasharray: 418.51;
    stroke-dashoffset: 418.51;
  }
}

.draw-project {
  animation: fill 0.5s ease forwards 3.1s;

  path:nth-child(1){
    animation: draw 2s ease forwards;
  }
  path:nth-child(2){
    animation: draw 2s ease forwards 0.3s;
  }
  path:nth-child(3){
    animation: draw 2s ease forwards 0.6s;
  }
  path:nth-child(4){
    animation: draw 2s ease forwards 0.9s;
  }
  path:nth-child(5){
    animation: draw 2s ease forwards 1.2s;
  }
  path:nth-child(6){
    animation: draw 2s ease forwards 1.5s;
  }
  path:nth-child(7){
    animation: draw 2s ease forwards 1.8s;
  }
  path:nth-child(8){
    animation: draw 2s ease forwards 2.1s;
  }

}

//-----------------------------------HOME------------------------------------------------//


//-----------------------------------ABOUT-----------------------------------------------//

//lines

.vertical { 
  border-left: 0.3rem solid black; 
  height: 35vh; 
  position:absolute; 
  left: 50%; 
}

.horizontal {
  border-top: 0.3rem solid black;
  margin: 0 2rem 3em 2rem;
}

.bottom-horizontal {
  border-top: 0.3rem solid black;
  margin: 2em 2rem 0em 2rem;
}

//tiles

.institution {
  font-weight: bold;
}

div.intro {
  text-align: center;
  // text-align: justify;
  p {
    text-align: justify;
  }
}

div.about-panel {
  height: 100%;
}

div.tile.is-parent.about {
  padding: 2rem;
}

div.tile.is-parent.skills {
  padding: 2rem;
}

//-----------------------------------SKILLS----------------------------------------------//

//-------skills---

.header {
  text-align: center;
}

// .sub-skills {
//   padding-left: 0.5rem;
// }

.frontend-box {
  border-right: 0.3rem solid black;
}

.backend-box {
  border-right: 0.3rem solid black;
}

.skill-cat {
  padding-bottom: 3rem;
  text-align: center;
}

.skill-icon {
  margin: 0.2rem;
  padding: 0.2rem;
}

.skill-title {
  padding-left: 2rem;
}

.tech-skills {
  display: inline-block;
}

.tech-line {
  display: flex;
  justify-content: space-between;
}

i.skills-icon {
  padding: 0 1rem;
}

div.tile.is-parent.skill-tile {
  padding-top: 0;
  padding-bottom: 0;
}

div.tech-display {
  height: 0.2rem;
  text-align: center;
  color: #e8c020;
  font-weight: bold;
}

#skill {
  padding-top: 0;
}


//-----------------------------------PROJECTS--------------------------------------------//

//cards

.card {
  min-height: 30em;
  height: 100%;
}

.media {
  height: 5em;
}

// -------project-title

div.project-header {
  text-align: center;
  p {
    text-align: justify;
  }
}

div.project-title {
  padding: 0 1em 1em 0;
}

div.project-tile {
  height: 100%;
}

.tech-used {
  padding: 10px;
}

//-----------project----//

.content.descrip {
  font-size: 14px;
}

.proskill {
  padding: 2px;
}

//--controls--//

$main: #e8c020;
body {
  overflow: hidden;
}

.directions,
.buttonS {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.controls {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: space-evenly;
  align-items: center;
}

.directions:hover {
  animation: pulse 1.2s ease infinite;
  background: $main;
}

.buttonS {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  z-index: 99;
  border: none;
  background: $main;
  background-size: 18px;
  // cursor: pointer;
  outline: none;
}


@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

//-------cards-------//


div.card {
  box-shadow: none;
  border: 0.1rem solid grey;
  border-radius: 5px;
}

div.card-image img{
  // padding: 0.3rem;
  border-radius: 5px;
}

div.card-image {
  padding: 0.3rem;
}

div.card-footer-item {
  flex-flow: wrap;

  i:hover {
    color: #e8c020;
  }
}

.card {
  a {
    color: black;
  }
  a:hover {
    color: #e8c020;
  }
}


//-----------------------------------FOOTER/CONTACTS--------------------------------------//

.test-logo-c, div.content{
  text-align: center;
}


//----------------------------------------EFFECTS-----------------------------------------//

//---effects---------//

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.underline {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #e8c020;
  animation: grow 3s ease-in-out;
  -webkit-animation: grow 3s ease-in-out;
  margin-top: 5px
}

div.title.main {
  width: 21rem;
}


@-webkit-keyframes grow {
    0%{width: 0}
    100%{width: 100%}
}
@keyframes grow {
    0%{width: 0}
    100%{width: 100%}
}


@keyframes draw {
    to{
      stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from{
      fill: transparent;
    }
    to{
      fill: black;
    }
}


//------MOBILE-------///

@media only screen and (max-width: 600px) {
  svg.main-logo {
    opacity: 0.4;
  }

  .vertical {
    display: none; 
  }

  // .social {
  //   font-size: 0.8rem;
  // }

  .frontend-box {
    border-right: none
  }
  
  .backend-box {
    border-right: none;
  }


}

@media only screen and (max-width: 800px) {
  svg.main-logo {
    opacity: 0.4;
  }

  .vertical {
    display: none; 
  }

  .frontend-box {
    border-right: none
  }
  
  .backend-box {
    border-right: none;
  }


}