@import url('https://fonts.googleapis.com/css?family=Dosis|PT+Sans+Narrow|Playfair+Display|Quicksand&display=swap');

#root {
  font-family: 'Playfair Display', serif;
}

////---------------------menu----/

* {
  box-sizing: border-box;
}

div.navbar-end {
  width: 100%;
  // margin: 0 auto;
}

div.navbar-item {
  display: inline;
  text-align: center;
}

div.navbar-custom a {
  display: inline-block;
  width: 25%;
  color: black;
  text-decoration: none;
  text-align: center;
}

div.navbar-custom a:hover {
  color: #f43b47;
}

.two:hover ~ hr {
  margin-left: 25%;
}

.three:hover ~ hr {
  margin-left: 52%;
}

.four:hover ~ hr {
  margin-left: 75%;
}

hr {
  height: .25rem;
  width: 25%;
  margin: 0;
  background: #f43b47;
  border: none;
  transition: .3s ease-in-out;
}

a:hover {
  color: #f43b47;
}

///svg

svg.main-logo {
  position: absolute;
  path {
    fill: black;
    stroke: black;
    stroke-width: 3;
  }
}

.image.is-square {
  padding-top: 0;
}



//cards

.card {
  min-height: 30em;
  height: 100%;
}

.media {
  height: 5em;
}

//lines

.vertical { 
  border-left: 0.3rem solid black; 
  height: 35vh; 
  position:absolute; 
  left: 50%; 
}

.horizontal {
  border-top: 0.3rem solid black;
  margin: 0 2rem 3em 2rem;
}

.bottom-horizontal {
  border-top: 0.3rem solid black;
  margin: 2em 2rem 0em 2rem;
}

//tiles

div.tile.is-parent.about {
  padding: 2rem;
}

div.tile.is-parent.skills {
  padding: 2rem;
}

//icons-------------/

i {
  color: black;
}

// -------project-title

div.project-title {
  padding: 0 1em 1em 0;
}

div.project-tile {
  height: 100%;
}

.tech-used {
  padding: 10px;
}

//-------skills---

.frontend-box {
  border-right: 0.3rem solid black;
}

.backend-box {
  border-right: 0.3rem solid black;
}

.skill-cat {
  padding-bottom: 3rem;
}

.skill-icon {
  margin: 0.2rem;
  padding: 0.2rem;
}

.skill-title {
  padding-left: 2rem;
}

.tech-skills {
  display: inline-block;
}

.tech-line {
  display: flex;
  justify-content: space-between;
}

i.skills-icon {
  padding: 0 1rem;
}

div.tile.is-parent.skill-tile {
  padding-top: 0;
  padding-bottom: 0;
}

div.tech-display {
  height: 0.2rem;
  text-align: center;
  color: #e8c020;
  font-weight: bold;
}

#skill {
  padding-top: 0;
}

//line draw skill working

// skillicons {
//   display:block;
//   position:absolute;
//   top:45%;
//   left:50%;
//   border-bottom:4px solid red;
//   width:0%;
//   text-align:center;
//   animation: line 2s linear forwards;
// }

// @keyframes line {
//   from {
//     left:50%;
//     width:0%;
//   }
//   to {
//     left:5%;
//     width:90%;
//   }
// }

//--------------

// i.skills-icon:hover {
//   color: #242e66;
//   text-shadow:0px 0px 30px #242e66;
//   -moz-transition: all 0.2s ease-in;
//   -o-transition: all 0.2s ease-in;
//   -webkit-transition: all 0.2s ease-in;
//   transition: all 0.2s ease-in;
// }

//-----------project----//

.content.descrip {
  font-size: 14px;
}

.proskill {
  padding: 2px;
}

//-------cards-------//

div.card {
  box-shadow: none;
  border: 0.1rem solid grey;
  border-radius: 5px;
}

div.card-image img{
  // padding: 0.3rem;
  border-radius: 5px;
}

div.card-image {
  padding: 0.3rem;
}

div.card-footer-item {
  flex-flow: wrap;

  i:hover {
    color: #e8c020;
  }
}

.card {
  a {
    color: black;
  }
  a:hover {
    color: #e8c020;
  }
}

//------FOOTER----//


//---effects---------//

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.underline {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #e8c020;
  animation: grow 3s ease-in-out;
  -webkit-animation: grow 3s ease-in-out;
  margin-top: 5px
}

div.title.main {
  width: 21rem;
}


@-webkit-keyframes grow {
    0%{width: 0}
    100%{width: 100%}
}
@keyframes grow {
    0%{width: 0}
    100%{width: 100%}
}

//------MOBILE-------///

@media only screen and (max-width: 600px) {
  svg.main-logo {
    opacity: 0.4;
  }

  .vertical {
    display: none; 
  }

  .social {
    font-size: 0.8rem;
  }

  .frontend-box {
    border-right: none
  }
  
  .backend-box {
    border-right: none;
  }
  
  
}