@import url('https://fonts.googleapis.com/css?family=Dosis|PT+Sans+Narrow|Playfair+Display|Quicksand&display=swap');

// font-family: 'Playfair Display', serif; #1
// font-family: 'Quicksand', sans-serif; #bulma-y
// font-family: 'PT Sans Narrow', sans-serif; 
// font-family: 'Dosis', sans-serif; #bulma similar (more round)

#root {
  font-family: 'Playfair Display', serif;
}


////---------------------menu----/

* {
  box-sizing: border-box;
}

div.navbar-end {
  width: 100%;
  // margin: 0 auto;
}

div.navbar-item {
  display: inline;
  text-align: center;
}

div.navbar-custom a {
  display: inline-block;
  width: 25%;
  // padding: .75rem 0;
  // margin: 0;
  text-decoration: none;
  text-align: center;
}

.two:hover ~ hr {
  margin-left: 25%;
}

.three:hover ~ hr {
  margin-left: 50%;
}

.four:hover ~ hr {
  margin-left: 75%;
}

hr {
  height: .25rem;
  width: 25%;
  margin: 0;
  background: tomato;
  border: none;
  transition: .3s ease-in-out;
}

///svg

svg.main-logo {
  position: absolute;
  path {
    fill: black;
    stroke: black;
    stroke-width: 3;
  }
}

.image.is-square {
  padding-top: 0;
}


//cards

.card {
  height: 30em;
}

.media {
  height: 5em;
}

//lines

.vertical { 
  border-left: 0.3rem solid black; 
  height: 35vh; 
  position:absolute; 
  left: 50%; 
}

.horizontal {
  border-top: 0.3rem solid black;
  margin: 0 2rem 3em 2rem;
}

.bottom-horizontal {
  border-top: 0.3rem solid black;
  margin: 2em 2rem 0em 2rem;
}

//tiles

div.tile.is-parent.about {
  padding: 2rem;
}


// div.tile-top {
//   border-bottom: 0.3rem solid black;
// }

// div.tile-left {
//   border-right: 0.3rem solid black;
// }

//icons-------------/

i {
  color: black;
}

// -------project-title

div.project-title {
  padding: 0 1em 1em 0;
}

div.project-tile {
  height: 100%;
}

// div.project-header {
//   // border-right: 0.3rem solid black;
//   border-bottom: 0.3rem solid black;
// }

//-------skills---

.frontend-box {
  border-right: 0.3rem solid black;
}

.backend-box {
  border-right: 0.3rem solid black;
}

.skill-cat {
  padding-bottom: 1rem;
}

.skill-icon {
  margin: 0.2rem;
  padding: 0.2rem;
}

.skill-title {
  padding-left: 2rem;
}

.tech-skills {
  display: inline-block;
}

.tech-line {
  display: flex;
  justify-content: space-between;
}

i.skills-icon {
  padding: 0 1rem;
}

div.tile.is-parent.skill-tile {
  padding-top: 0;
  padding-bottom: 0;
}

#skill {
  padding-top: 0;
}

//-----------project----//

.content.descrip {
  font-size: 14px;
}

//-------cards-------//

div.card {
  box-shadow: none;
  border: 0.1rem solid grey;
  border-radius: 5px;
}

div.card-image img{
  // padding: 0.3rem;
  border-radius: 5px;
}

div.card-image {
  padding: 0.3rem;
}

//---effects---------//

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.underline {
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, #602466, #242e66);
  -webkit-animation: gradient-pulse 10s ease infinite;
  animation: gradient-pulse 10s ease infinite;
  animation: grow 1s linear;
  margin-top: 5px
}

div.title.main {
  width: 21rem;
}

// background: linear-gradient(270deg, #602466, #242e66);
// background-size: 400% 400%;


@-webkit-keyframes grow {
    0%{width: 0}
    60%{width: 80%}
    100%{width: 100%}
}
@keyframes grow {
    0%{width: 0}
    60%{width: 80%}
    100%{width: 100%}
}

@-webkit-keyframes gradient-pulse {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradient-pulse {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}